#table-view {
    -fx-background-color: linear-gradient(to bottom, #60daad, #00af83);
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI';
    -fx-text-background-color: white;
}

#table-cell {
    -fx-background-color: #60daad;
}