#button {
    -fx-background-color: rgb(255, 255, 255);
    
    -fx-border-radius: 5px;
    -fx-font-weight: 250;
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI';
    -fx-text-fill: #009660; 
    -fx-font-weight: bold;
}

#button:hover {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: #007c4f;
}

#button:pressed {
    -fx-filter: brightness(0.7);
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}